[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Deep learning based NILM "
[access "refs/*"]
	owner = group user/fiesta247
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/fiesta247
	label-Verified = -1..+1 group user/fiesta247
	push = group user/fiesta247
	read = group user/fiesta247
	rebase = group user/fiesta247
	removeReviewer = group user/fiesta247
	submit = group user/fiesta247
[access "refs/heads/*"]
	create = group user/fiesta247
	push = +force group user/fiesta247
	pushMerge = group user/fiesta247
	read = group user/fiesta247
[access "refs/tags/*"]
	push = group user/fiesta247
	push = +force group user/fiesta247
